{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrahead %}
    {{ block.super }}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'flatlab/assets/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <style>
        body, #container {
            background: #FFF;
        }
        td, th {
            padding: 6px;
            }

    </style>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
        <div class="info-card el-row">
            <div id="toolbar" style="padding-bottom:20px">
                <form id="changelist-search" method="get" action="{{ request.path }}">
                    <div class="simpleui-form">
                        <div class="simpleui-form-item el-input el-input--prefix el-input--suffix">
                            <input id='id_date_start' type="text" autocomplete="off" name="date_start" value="{{ request.GET.date_start }}" placeholder="开始时间" class="el-input__inner" data-date-format="yyyy-mm-dd">
                            <span class="el-input__prefix"><i class="el-input__icon el-icon-time"></i></span>
                        </div>
                        <div class="simpleui-form-item el-input el-input--prefix el-input--suffix">
                            <input id='id_date_end' type="text" autocomplete="off" name="date_end" value="{{ request.GET.date_end }}" placeholder="截止时间" class="el-input__inner" data-date-format="yyyy-mm-dd">
                            <span class="el-input__prefix"><i class="el-input__icon el-icon-time"></i></span>
                        </div>
                        <div class="simpleui-form-item el-input el-input--prefix el-input--suffix">
                            <input type="text" autocomplete="off" name="q" value="{{ request.GET.q }}"
                                   placeholder="搜索名字,项目名称,手机,备注" class="el-input__inner">
                            <span class="el-input__prefix"><i class="el-input__icon el-icon-search"></i></span>
                        </div>
                        <div class="simpleui-form-item el-select-dropdown__list el-select-dropdown__wrap">
                            <select name="insurance_company" id="id_insurance_company">
                                <option value="">保险公司选择</option>
                                {% for insurance_company in ics %}
                                    {% if insurance_company.pk|floatformat:'0' == request.GET.insurance_company|floatformat:'0' %}
                                    <option value="{{ insurance_company.pk }}" selected>{{ insurance_company.name }}</option>
                                    {% else %}
                                    <option value="{{ insurance_company.pk }}">{{ insurance_company.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="el-button el-button--primary">
                            <i class="el-icon-search"></i><span>搜索</span>
                        </button>
                        <span style="padding:20px">
                        共 {{ total_count }} 条记录
                    </span>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="el-col el-col-24">

                    <div class="el-col el-col-12">
                        <div id="static_by_sales_belong_to_data"></div>
                    </div>
                    <div class="el-col el-col-12">
                        <div id="static_by_profits_belong_to_data"></div>
                    </div>
                    <div class="el-col el-col-11">
                        <div class="el-card box-card is-always-shadow">
                            <div class="el-card__body">
                                <h4>根据人员统计</h4>
                                <table class="el-table">
                                    <thead>
                                        <tr>
                                            <th>{% trans '人员' %}</th>
                                            <th style="text-align:right">{% trans '营业额' %}</th>
                                            <th style="text-align:right">{% trans '总成本' %}</th>
                                            <th style="text-align:right">{% trans '总利润' %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for d in static_by_belong_to_data %}
                                    <tr>
                                        <td>{{ d.name }}</td>
                                        <td style="text-align:right">￥ {{ d.sales }}</td>
                                        <td style="text-align:right">￥ {{ d.costs }}</td>
                                        <td style="text-align:right">￥ {{ d.profits }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th>{% trans '合计' %}</th>
                                        <th style="text-align:right">￥ {{ total_sales }}</th>
                                        <th style="text-align:right">￥ {{ total_costs }}</th>
                                        <th style="text-align:right">￥ {{ total_profits }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="el-col el-col-11 el-col-offset-2">
                        <div class="el-card box-card is-always-shadow">
                            <div class="el-card__body">
                                <h4>根据保险公司统计</h4>
                                <table class="el-table">
                                    <thead>
                                        <tr>
                                            <th>{% trans '保险公司' %}</th>
                                            <th style="text-align:right">{% trans '营业额' %}</th>
                                            <th style="text-align:right">{% trans '总成本' %}</th>
                                            <th style="text-align:right">{% trans '总利润' %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for d in static_by_insurance_company_data %}
                                    <tr>
                                        <td>{{ d.name }}</td>
                                        <td style="text-align:right">￥ {{ d.sales }}</td>
                                        <td style="text-align:right">￥ {{ d.costs }}</td>
                                        <td style="text-align:right">￥ {{ d.profits }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th>{% trans '合计' %}</th>
                                        <th style="text-align:right">￥ {{ total_sales }}</th>
                                        <th style="text-align:right">￥ {{ total_costs }}</th>
                                        <th style="text-align:right">￥ {{ total_profits }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script language="JavaScript">
Highcharts.chart('static_by_sales_belong_to_data', {
    credits: {enabled: false},
    chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, type: 'pie'},
    title: {text: '根据人员统计销售额'},
    tooltip: {pointFormat: '{% trans "金额" %}: ￥{point.y:.2f} <b>比例: {point.percentage:.1f}%</b>'},
    accessibility: {point: {valueSuffix: '%'}},
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {enabled: true, format: '<b>{point.name}</b>: {point.percentage:.1f} %'}
    }},
    series: [{name: '销售额', colorByPoint: true, data: {{ static_by_sales_belong_to_data|safe }}}]
});
Highcharts.chart('static_by_profits_belong_to_data', {
    credits: {enabled: false},
    chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, type: 'pie'},
    title: {text: '根据人员统计利润'},
    // tooltip: {pointFormat: '{% trans "金额" %}: ￥{point.y:.2f} <b>比例: {point.percentage:.1f}%</b>'},
    accessibility: {point: {valueSuffix: '%'}},
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {enabled: true, format: '<b>{point.name}</b>: {point.percentage:.1f} %'}
    }},
    series: [{name: '利润', colorByPoint: true, data: {{ static_by_profits_belong_to_data|safe }}}]
});
</script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
<script src="{% static 'flatlab/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'flatlab/assets/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
<script>
$('#id_date_start').datepicker({language: "zh-CN"});
$('#id_date_end').datepicker({language: "zh-CN"});
</script>
{% endblock %}