{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrahead %}
    {{ block.super }}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'flatlab/assets/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <style>
        body, #container {
            background: #FFF;
        }
        td, th {
            padding: 6px;
            }

    </style>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
        <div class="info-card el-row">
            <div id="toolbar" style="padding-bottom:20px">
                <form id="changelist-search" method="get" action="{{ request.path }}">
                    <div class="simpleui-form">
                        <div class="simpleui-form-item el-input el-input--prefix el-input--suffix">
                            <input id='id_date_start' type="text" autocomplete="off" name="date_start" value="{{ request.GET.date_start }}" placeholder="维修开始时间" class="el-input__inner" data-date-format="yyyy-mm-dd">
                            <span class="el-input__prefix"><i class="el-input__icon el-icon-time"></i></span>
                        </div>
                        <div class="simpleui-form-item el-input el-input--prefix el-input--suffix">
                            <input id='id_date_end' type="text" autocomplete="off" name="date_end" value="{{ request.GET.date_end }}" placeholder="维修截止时间" class="el-input__inner" data-date-format="yyyy-mm-dd">
                            <span class="el-input__prefix"><i class="el-input__icon el-icon-time"></i></span>
                        </div>
                        <div class="simpleui-form-item el-input el-input--prefix el-input--suffix">
                            <input type="text" autocomplete="off" name="q" value="{{ request.GET.q }}"
                                   placeholder="搜索名字,项目名称,手机,备注" class="el-input__inner">
                            <span class="el-input__prefix"><i class="el-input__icon el-icon-search"></i></span>
                        </div>
                        <div class="simpleui-form-item el-select-dropdown__list el-select-dropdown__wrap">
                            <select name="store" id="id_store">
                                <option value="">门店选择</option>
                                {% for store in stores %}
                                    {% if store.pk|floatformat:'0' == request.GET.store|floatformat:'0' %}
                                    <option value="{{ store.pk }}" selected>{{ store.name }}</option>
                                    {% else %}
                                    <option value="{{ store.pk }}">{{ store.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="el-button el-button--primary">
                            <i class="el-icon-search"></i><span>搜索</span>
                        </button>
                        <span style="padding:20px">
                        共 {{ total_count }} 条记录
                    </span>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="el-col el-col-12">
                    <div id="static_by_sales_person"></div>
                </div>
                <div class="el-col el-col-12">
                    <div id="static_by_profits_person"></div>
                </div>
                {% if not request.GET.store %}
                <div class="el-col el-col-12">
                    <div id="static_by_sales_store"></div>
                </div>
                <div class="el-col el-col-12">
                    <div id="static_by_profits_store"></div>
                </div>
                {% endif %}
            </div>
            <div class="el-col el-col-24">
                <div class="el-card box-card is-always-shadow">
                    <div class="el-card__header">
                        <div class="clearfix"><span>记录明细</span></div>
                    </div>
                    <div class="el-card__body">
                        <div class="clearfix">
                            {% if object_list %}
                            <table id="change-history" class="layui-table">
                                <thead>
                                <tr>
                                    <th scope="col">{% trans 'ID' %}</th>
                                    <th scope="col">{% trans '维修人员' %}</th>
                                    <th scope="col">{% trans '门店' %}</th>
                                    <th scope="col">{% trans '车牌号' %}</th>
                                    <th scope="col">{% trans '项目名称' %}</th>
                                    <th scope="col">{% trans '小计（元）' %}</th>
                                    <th scope="col">{% trans '总成本' %}</th>
                                    <th scope="col">{% trans '维修时间' %}</th>
                                    <th scope="col">{% trans '备注' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td scope="row"><a href="">{{object.pk }}</a></td>
                                    <td>{{ object.served_by.name|default_if_none:'' }}</td>
                                    <td>{{ object.related_service_record.related_store.name|default_if_none:'' }}</td>
                                    <td><a href="">
                                        {{object.related_service_record.car.car_number|default_if_none:'----' }}</a>
                                    </td>
                                    <td>{{ object.name|default_if_none:'' }}</td>
                                    <td>{% if object.item_price %}{{ object.item_price|default_if_none:'' }}*{{ object.item_count|default_if_none:''|floatformat:-2 }} = {{ object.price|default_if_none:'' }}{% endif %}</td>
                                    <td>{{ object.cost|default_if_none:'' }}</td>
                                    <td>{{ object.datetime_created|date:"DATETIME_FORMAT" }}</td>
                                    <td>{{ object.notes|default_if_none:'' }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p>{% trans "无记录" %}</p>
                            {% endif %}
                            {% block pagination %}
                            {% include "pagination.html" %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script language="JavaScript">
Highcharts.chart('static_by_sales_person', {
    credits: {enabled: false},
    chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, type: 'pie'},
    title: {text: '根据人员统计销售额'},
    tooltip: {pointFormat: '{% trans "金额" %}: ￥{point.y:.2f} <b>比例: {point.percentage:.1f}%</b>'},
    accessibility: {point: {valueSuffix: '%'}},
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {enabled: true, format: '<b>{point.name}</b>: {point.percentage:.1f} %'}
    }},
    series: [{name: '销售额', colorByPoint: true, data: {{ static_by_sales_person|safe }}}]
});
Highcharts.chart('static_by_profits_person', {
    credits: {enabled: false},
    chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, type: 'pie'},
    title: {text: '根据人员统计利润'},
    // tooltip: {pointFormat: '{% trans "金额" %}: ￥{point.y:.2f} <b>比例: {point.percentage:.1f}%</b>'},
    accessibility: {point: {valueSuffix: '%'}},
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {enabled: true, format: '<b>{point.name}</b>: {point.percentage:.1f} %'}
    }},
    series: [{name: '利润', colorByPoint: true, data: {{ static_by_profits_person|safe }}}]
});
Highcharts.chart('static_by_sales_store', {
    credits: {enabled: false},
    chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, type: 'pie'},
    title: {text: '根据门店统计销售额'},
    tooltip: {pointFormat: '{% trans "金额" %}: ￥{point.y:.2f} <b>比例: {point.percentage:.1f}%</b>'},
    accessibility: {point: {valueSuffix: '%'}},
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {enabled: true, format: '<b>{point.name}</b>: {point.percentage:.1f} %'}
    }},
    series: [{name: '销售额', colorByPoint: true, data: {{ static_by_sales_store|safe }}}]
});
Highcharts.chart('static_by_profits_store', {
    credits: {enabled: false},
    chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, type: 'pie'},
    title: {text: '根据门店统计利润'},
    tooltip: {pointFormat: '{% trans "金额" %}: ￥{point.y:.2f} <b>比例: {point.percentage:.1f}%</b>'},
    accessibility: {point: {valueSuffix: '%'}},
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {enabled: true, format: '<b>{point.name}</b>: {point.percentage:.1f} %'}
    }},
    series: [{name: '利润', colorByPoint: true, data: {{ static_by_profits_store|safe }}}]
});
</script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
<script src="{% static 'flatlab/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'flatlab/assets/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
<script>
$('#id_date_start').datepicker({language: "zh-CN"});
$('#id_date_end').datepicker({language: "zh-CN"});
</script>
{% endblock %}